input[type="text"]{
    color:blue;
    font-weight: 600;
}

input[type="submit"]{
    color: red;
    font-weight: 900;
}

a[href="https://example.com"] {
    color:blueviolet;
    font-size: 30px;
}

a[href="https://another.com"] {
    color: rgb(231, 124, 181)
}
